[build]
  functions = "netlify/functions"
  publish = "dist"

[dev]
  command = "npm run dev"
  targetPort = 3000
  port = 8888

[context.production]
  [[redirects]]
    from = "/*"
    to = "/index.html"
    status = 200

[context.deploy-preview]
  [[redirects]]
    from = "/*"
    to = "/index.html"
    status = 200

[context.branch-deploy]
  [[redirects]]
    from = "/*"
    to = "/index.html"
    status = 200
